# California Wildfire Data Cleaning

### Wildfire data from https://www.fire.ca.gov/incidents
CSV imported from website, extraneous columns removed, filtered to include only wildfires burning 1000+ acres

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# Import csv
wildfire_data = pd.read_csv("Resources/mapdataall.csv")

In [3]:
wildfire_df = pd.DataFrame(wildfire_data)
wildfire_df.head()

,incident_name,incident_is_final,incident_date_last_update,incident_date_created,incident_administrative_unit,incident_administrative_unit_url,incident_county,incident_location,incident_acres_burned,incident_containment,...,incident_latitude,incident_type,incident_id,incident_url,incident_date_extinguished,incident_dateonly_extinguished,incident_dateonly_created,is_active,calfire_incident,notification_desired
0,Bridge Fire,Y,2018-01-09T13:46:00Z,2017-10-31T11:22:00Z,Shasta-Trinity National Forest,NaN,Shasta,"I-5 and Turntable Bay, 7 miles NE of Shasta Lake",37.0,100.0,...,40.774000,NaN,2ca11d45-8139-4c16-8af0-880d99b21e82,https://incidents.fire.ca.gov/incidents/2017/1...,2018-01-09T13:46:00Z,1/9/18,10/31/17,N,False,False
1,Pala Fire,Y,2020-09-16T14:07:35Z,2009-05-24T14:56:00Z,CAL FIRE San Diego Unit,NaN,San Diego,"Hwy 76 and Pala Temecula, northwest of Pala",122.0,100.0,...,1.000000,Wildfire,8f61f461-552d-4538-b186-35ab030da416,https://incidents.fire.ca.gov/incidents/2009/5...,2009-05-25T00:00:00Z,5/25/09,5/24/09,N,True,False
2,River Fire,Y,2022-10-24T11:39:23Z,2013-02-24T08:16:00Z,CAL FIRE San Bernardino Unit,NaN,Inyo,"south of Narrow Gauge Rd & north of Hwy 136, e...",407.0,100.0,...,36.602575,NaN,094719ba-a47b-4abb-9ec5-a506b2b9fd23,https://incidents.fire.ca.gov/incidents/2013/2...,2013-02-28T20:00:00Z,2/28/13,2/24/13,N,True,False
3,Fawnskin Fire,Y,2013-04-22T09:00:00Z,2013-04-20T17:30:00Z,San Bernardino National Forest,NaN,San Bernardino,"west of Delamar Mountain, north of the communi...",30.0,100.0,...,34.288877,NaN,58f89ff8-bd3e-4355-b1c0-8fa05c747d3f,https://incidents.fire.ca.gov/incidents/2013/4...,2013-04-22T09:00:00Z,4/22/13,4/20/13,N,False,False
4,Gold Fire,Y,2013-05-01T07:00:00Z,2013-04-30T12:59:00Z,CAL FIRE Madera-Mariposa-Merced Unit,NaN,Madera,Between Road 210 and Road 200 near Fine Gold C...,274.0,100.0,...,37.116295,NaN,357ffc13-bef9-48eb-810f-c5de851972eb,https://incidents.fire.ca.gov/incidents/2013/4...,2013-05-01T07:00:00Z,5/1/13,4/30/13,N,True,False

In [4]:
wildfire_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2062 entries, 0 to 2061
Data columns (total 23 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   incident_name                     2062 non-null   object
 1   incident_is_final                 2062 non-null   object
 2   incident_date_last_update         2062 non-null   object
 3   incident_date_created             2062 non-null   object
 4   incident_administrative_unit      2050 non-null   object
 5   incident_administrative_unit_url  0 non-null      float64
 6   incident_county                   2052 non-null   object
 7   incident_location                 2062 non-null   object
 8   incident_acres_burned             2023 non-null   float64
 9   incident_containment              2025 non-null   float64
 10  incident_control                  123 non-null    object
 11  incident_cooperating_agencies     1585 non-null   object
 12  incident_longitude                2062 non-null   float64
 13  incident_latitude                 2062 non-null   float64
 14  incident_type                     828 non-null    object
 15  incident_id                       2062 non-null   object
 16  incident_url                      2062 non-null   object
 17  incident_date_extinguished        1869 non-null   object
 18  incident_dateonly_extinguished    1869 non-null   object
 19  incident_dateonly_created         2062 non-null   object
 20  is_active                         2062 non-null   object
 21  calfire_incident                  2062 non-null   bool
 22  notification_desired              2062 non-null   bool
dtypes: bool(2), float64(5), object(16)
memory usage: 342.4+ KB

In [5]:
wildfire_df.columns

Index(['incident_name', 'incident_is_final', 'incident_date_last_update',
       'incident_date_created', 'incident_administrative_unit',
       'incident_administrative_unit_url', 'incident_county',
       'incident_location', 'incident_acres_burned', 'incident_containment',
       'incident_control', 'incident_cooperating_agencies',
       'incident_longitude', 'incident_latitude', 'incident_type',
       'incident_id', 'incident_url', 'incident_date_extinguished',
       'incident_dateonly_extinguished', 'incident_dateonly_created',
       'is_active', 'calfire_incident', 'notification_desired'],
      dtype='object')

In [6]:
# Eliminate extraneous columns
wildfire2 = wildfire_df[['incident_name', 'incident_county', 'incident_location',
                         'incident_longitude', 'incident_latitude', 'incident_acres_burned',
                         'incident_dateonly_created', 'incident_dateonly_extinguished']]
wildfire2.head()

,incident_name,incident_county,incident_location,incident_longitude,incident_latitude,incident_acres_burned,incident_dateonly_created,incident_dateonly_extinguished
0,Bridge Fire,Shasta,"I-5 and Turntable Bay, 7 miles NE of Shasta Lake",-122.309000,40.774000,37.0,10/31/17,1/9/18
1,Pala Fire,San Diego,"Hwy 76 and Pala Temecula, northwest of Pala",1.000000,1.000000,122.0,5/24/09,5/25/09
2,River Fire,Inyo,"south of Narrow Gauge Rd & north of Hwy 136, e...",-118.016510,36.602575,407.0,2/24/13,2/28/13
3,Fawnskin Fire,San Bernardino,"west of Delamar Mountain, north of the communi...",-116.941311,34.288877,30.0,4/20/13,4/22/13
4,Gold Fire,Madera,Between Road 210 and Road 200 near Fine Gold C...,-119.635004,37.116295,274.0,4/30/13,5/1/13

In [7]:
# Rename columns
wildfire3 = wildfire2.rename(columns={'incident_name': 'incident_name', 'incident_county': 'county',
                                      'incident_location': 'location', 'incident_longitude': 'longitude', 'incident_latitude': 'latitude',
                                      'incident_acres_burned': 'acres_burned', 'incident_dateonly_created': 'start_date',
                                      'incident_dateonly_extinguished': 'extinguished_date'})
wildfire3.head()

,incident_name,county,location,longitude,latitude,acres_burned,start_date,extinguished_date
0,Bridge Fire,Shasta,"I-5 and Turntable Bay, 7 miles NE of Shasta Lake",-122.309000,40.774000,37.0,10/31/17,1/9/18
1,Pala Fire,San Diego,"Hwy 76 and Pala Temecula, northwest of Pala",1.000000,1.000000,122.0,5/24/09,5/25/09
2,River Fire,Inyo,"south of Narrow Gauge Rd & north of Hwy 136, e...",-118.016510,36.602575,407.0,2/24/13,2/28/13
3,Fawnskin Fire,San Bernardino,"west of Delamar Mountain, north of the communi...",-116.941311,34.288877,30.0,4/20/13,4/22/13
4,Gold Fire,Madera,Between Road 210 and Road 200 near Fine Gold C...,-119.635004,37.116295,274.0,4/30/13,5/1/13

In [8]:
# Unfiltered column count
wildfire3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2062 entries, 0 to 2061
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   incident_name      2062 non-null   object
 1   county             2052 non-null   object
 2   location           2062 non-null   object
 3   longitude          2062 non-null   float64
 4   latitude           2062 non-null   float64
 5   acres_burned       2023 non-null   float64
 6   start_date         2062 non-null   object
 7   extinguished_date  1869 non-null   object
dtypes: float64(3), object(5)
memory usage: 129.0+ KB

In [9]:
# Filter for larger wildfires, those buring 1000+ acres
wildfire4 = wildfire3.loc[wildfire3["acres_burned"] >= 1000]
wildfire4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 359 entries, 5 to 2050
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   incident_name      359 non-null    object
 1   county             355 non-null    object
 2   location           359 non-null    object
 3   longitude          359 non-null    float64
 4   latitude           359 non-null    float64
 5   acres_burned       359 non-null    float64
 6   start_date         359 non-null    object
 7   extinguished_date  337 non-null    object
dtypes: float64(3), object(5)
memory usage: 25.2+ KB

In [10]:
# Convert dates to datetime
wildfire4['start_date'] = pd.to_datetime(wildfire4['start_date'])
wildfire4['extinguished_date'] = pd.to_datetime(wildfire4['extinguished_date'])
wildfire4.head()

/Users/leahapking/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/leahapking/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,incident_name,county,location,longitude,latitude,acres_burned,start_date,extinguished_date
5,Panther Fire,Tehama,"140K3 Line, 8 miles northwest of Butte Meadows",-121.595555,40.190062,6896.0,2013-05-01,2013-05-09
8,Summit Fire,Riverside,Mias Canyon and Bluff Road in Banning,-116.941311,34.288877,2956.0,2013-05-01,2013-05-04
13,Grand Fire,"Kern, Ventura","South of Frazier Mountain Park Rd, South of Fr...",-118.941100,34.786100,4346.0,2013-05-15,2013-05-21
22,San Felipe Fire,San Diego,"San Felipe Road, north of Highway 78, East of ...",-116.525790,33.121110,2650.0,2013-05-23,2013-05-26
25,General Fire,San Diego,"Banner Grade area, south of Hwy 78 & east of H...",-116.520900,33.044580,2500.0,2013-05-26,2013-05-31

In [11]:
# Drop rows with missing data
wildfire5 = wildfire4.dropna(axis=0, how='any')
wildfire5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 333 entries, 5 to 2050
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   incident_name      333 non-null    object
 1   county             333 non-null    object
 2   location           333 non-null    object
 3   longitude          333 non-null    float64
 4   latitude           333 non-null    float64
 5   acres_burned       333 non-null    float64
 6   start_date         333 non-null    datetime64[ns]
 7   extinguished_date  333 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(3), object(3)
memory usage: 23.4+ KB

In [12]:
# Create duration(days) column by subracting start date from extinguished date
from datetime import datetime, timedelta
wildfire5['duration(days)'] = wildfire5['extinguished_date'] - wildfire5['start_date']
wildfire5['duration(days)'] = wildfire5['duration(days)'].dt.days
wildfire5.head()

/Users/leahapking/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/leahapking/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,incident_name,county,location,longitude,latitude,acres_burned,start_date,extinguished_date,duration(days)
5,Panther Fire,Tehama,"140K3 Line, 8 miles northwest of Butte Meadows",-121.595555,40.190062,6896.0,2013-05-01,2013-05-09,8
8,Summit Fire,Riverside,Mias Canyon and Bluff Road in Banning,-116.941311,34.288877,2956.0,2013-05-01,2013-05-04,3
13,Grand Fire,"Kern, Ventura","South of Frazier Mountain Park Rd, South of Fr...",-118.941100,34.786100,4346.0,2013-05-15,2013-05-21,6
22,San Felipe Fire,San Diego,"San Felipe Road, north of Highway 78, East of ...",-116.525790,33.121110,2650.0,2013-05-23,2013-05-26,3
25,General Fire,San Diego,"Banner Grade area, south of Hwy 78 & east of H...",-116.520900,33.044580,2500.0,2013-05-26,2013-05-31,5

In [13]:
wildfire5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 333 entries, 5 to 2050
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   incident_name      333 non-null    object
 1   county             333 non-null    object
 2   location           333 non-null    object
 3   longitude          333 non-null    float64
 4   latitude           333 non-null    float64
 5   acres_burned       333 non-null    float64
 6   start_date         333 non-null    datetime64[ns]
 7   extinguished_date  333 non-null    datetime64[ns]
 8   duration(days)     333 non-null    int64
dtypes: datetime64[ns](2), float64(3), int64(1), object(3)
memory usage: 26.0+ KB

In [14]:
# Create unique ID values for each wilfire
wildfire5['fire_id'] = (range(1, len(wildfire5) + 1))
wildfire5['fire_id'] = wildfire5['fire_id'] + 1000
wildfire5.head()

/Users/leahapking/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/leahapking/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,incident_name,county,location,longitude,latitude,acres_burned,start_date,extinguished_date,duration(days),fire_id
5,Panther Fire,Tehama,"140K3 Line, 8 miles northwest of Butte Meadows",-121.595555,40.190062,6896.0,2013-05-01,2013-05-09,8,1001
8,Summit Fire,Riverside,Mias Canyon and Bluff Road in Banning,-116.941311,34.288877,2956.0,2013-05-01,2013-05-04,3,1002
13,Grand Fire,"Kern, Ventura","South of Frazier Mountain Park Rd, South of Fr...",-118.941100,34.786100,4346.0,2013-05-15,2013-05-21,6,1003
22,San Felipe Fire,San Diego,"San Felipe Road, north of Highway 78, East of ...",-116.525790,33.121110,2650.0,2013-05-23,2013-05-26,3,1004
25,General Fire,San Diego,"Banner Grade area, south of Hwy 78 & east of H...",-116.520900,33.044580,2500.0,2013-05-26,2013-05-31,5,1005

In [15]:
wildfire5.index = wildfire5['fire_id']
wildfire5.head()

,incident_name,county,location,longitude,latitude,acres_burned,start_date,extinguished_date,duration(days),fire_id
fire_id,,,,,,,,,,
1001,Panther Fire,Tehama,"140K3 Line, 8 miles northwest of Butte Meadows",-121.595555,40.190062,6896.0,2013-05-01,2013-05-09,8,1001
1002,Summit Fire,Riverside,Mias Canyon and Bluff Road in Banning,-116.941311,34.288877,2956.0,2013-05-01,2013-05-04,3,1002
1003,Grand Fire,"Kern, Ventura","South of Frazier Mountain Park Rd, South of Fr...",-118.941100,34.786100,4346.0,2013-05-15,2013-05-21,6,1003
1004,San Felipe Fire,San Diego,"San Felipe Road, north of Highway 78, East of ...",-116.525790,33.121110,2650.0,2013-05-23,2013-05-26,3,1004
1005,General Fire,San Diego,"Banner Grade area, south of Hwy 78 & east of H...",-116.520900,33.044580,2500.0,2013-05-26,2013-05-31,5,1005

In [16]:
wildfire6 = wildfire5.drop(['fire_id'], axis=1)
wildfire6.head()

,incident_name,county,location,longitude,latitude,acres_burned,start_date,extinguished_date,duration(days)
fire_id,,,,,,,,,
1001,Panther Fire,Tehama,"140K3 Line, 8 miles northwest of Butte Meadows",-121.595555,40.190062,6896.0,2013-05-01,2013-05-09,8
1002,Summit Fire,Riverside,Mias Canyon and Bluff Road in Banning,-116.941311,34.288877,2956.0,2013-05-01,2013-05-04,3
1003,Grand Fire,"Kern, Ventura","South of Frazier Mountain Park Rd, South of Fr...",-118.941100,34.786100,4346.0,2013-05-15,2013-05-21,6
1004,San Felipe Fire,San Diego,"San Felipe Road, north of Highway 78, East of ...",-116.525790,33.121110,2650.0,2013-05-23,2013-05-26,3
1005,General Fire,San Diego,"Banner Grade area, south of Hwy 78 & east of H...",-116.520900,33.044580,2500.0,2013-05-26,2013-05-31,5

In [17]:
# Export final csv file
wildfire6.to_csv("Resources/ca_wildfire.csv", index=True)

### California drought data imported from https://www.drought.gov/states/california

Create a csv file which includes the average drought level precentages for each month and the total acres burned by wildfires 1000+ acres

In [18]:
# Extract the month and year for each wildfire in our dataset assign to month_year column
wildfire5['month_year'] = wildfire5['start_date'].dt.strftime('%Y-%m')
wildfire5.head()

/Users/leahapking/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,incident_name,county,location,longitude,latitude,acres_burned,start_date,extinguished_date,duration(days),fire_id,month_year
fire_id,,,,,,,,,,,
1001,Panther Fire,Tehama,"140K3 Line, 8 miles northwest of Butte Meadows",-121.595555,40.190062,6896.0,2013-05-01,2013-05-09,8,1001,2013-05
1002,Summit Fire,Riverside,Mias Canyon and Bluff Road in Banning,-116.941311,34.288877,2956.0,2013-05-01,2013-05-04,3,1002,2013-05
1003,Grand Fire,"Kern, Ventura","South of Frazier Mountain Park Rd, South of Fr...",-118.941100,34.786100,4346.0,2013-05-15,2013-05-21,6,1003,2013-05
1004,San Felipe Fire,San Diego,"San Felipe Road, north of Highway 78, East of ...",-116.525790,33.121110,2650.0,2013-05-23,2013-05-26,3,1004,2013-05
1005,General Fire,San Diego,"Banner Grade area, south of Hwy 78 & east of H...",-116.520900,33.044580,2500.0,2013-05-26,2013-05-31,5,1005,2013-05

In [19]:
# Group wildfires my month
wildfire6 = wildfire5.groupby(["month_year"]).sum()
wildfire6.tail()

             longitude    latitude  acres_burned  duration(days)  fire_id
month_year
2022-05    -114.484173   34.010838        5856.0              13     1326
2022-06    -118.889446   34.936618        2500.0               5     1327
2022-07    -119.614000   37.499000        4886.0              28     1328
2022-08    -118.647900   34.525500        5208.0               6     1329
2022-09    -480.303120  156.484380       87645.0             129     5326

In [20]:
# Import drought data from drought.gov
drought_data = pd.read_csv("Resources/USDM-california.csv")
drought_df = pd.DataFrame(drought_data)
drought_df.head()

,MapDate,StateAbbreviation,None,D0,D1,D2,D3,D4,ValidStart,ValidEnd,StatisticFormatID
0,20230404,CA,56.17,43.83,24.86,0.82,0.0,0.0,4/4/23,4/10/23,1
1,20230328,CA,55.34,44.66,28.11,1.95,0.0,0.0,3/28/23,4/3/23,1
2,20230321,CA,48.51,51.49,35.88,8.49,0.0,0.0,3/21/23,3/27/23,1
3,20230314,CA,44.66,55.34,36.42,8.49,0.0,0.0,3/14/23,3/20/23,1
4,20230307,CA,26.84,73.16,43.06,19.00,0.0,0.0,3/7/23,3/13/23,1

In [21]:
drought1 = drought_df[["None", "D0", "D1", "D2", "D3", "D4", "ValidStart"]]

In [22]:
# Convert drought values from percentage sums to percentages
drought1["D3_percent"] = drought1["D3"] - drought1["D4"]
drought1["D2_percent"] = drought1["D2"] - drought1["D3_percent"]
drought1["D1_percent"] = drought1["D1"] - drought1["D2_percent"]
drought1["D0_percent"] = drought1["D0"] - drought1["D1_percent"]
drought1.head(10)

/Users/leahapking/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/leahapking/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/leahapking/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,None,D0,D1,D2,D3,D4,ValidStart,D3_percent,D2_percent,D1_percent,D0_percent
0,56.17,43.83,24.86,0.82,0.0,0.0,4/4/23,0.0,0.82,24.04,19.79
1,55.34,44.66,28.11,1.95,0.0,0.0,3/28/23,0.0,1.95,26.16,18.50
2,48.51,51.49,35.88,8.49,0.0,0.0,3/21/23,0.0,8.49,27.39,24.10
3,44.66,55.34,36.42,8.49,0.0,0.0,3/14/23,0.0,8.49,27.93,27.41
4,26.84,73.16,43.06,19.00,0.0,0.0,3/7/23,0.0,19.00,24.06,49.10
5,16.71,83.29,49.13,24.96,0.0,0.0,2/28/23,0.0,24.96,24.17,59.12
6,0.61,99.39,84.60,32.62,0.0,0.0,2/21/23,0.0,32.62,51.98,47.41
7,0.64,99.36,84.60,32.62,0.0,0.0,2/14/23,0.0,32.62,51.98,47.38
8,0.64,99.36,84.60,32.62,0.0,0.0,2/7/23,0.0,32.62,51.98,47.38
9,0.64,99.36,89.56,32.57,0.0,0.0,1/31/23,0.0,32.57,56.99,42.37

In [23]:
# Eliminate old columns
drought2 = drought1[["None", "D0_percent", "D1_percent", "D2_percent", "D3_percent", "D4", "ValidStart"]]
drought3 = drought2.rename(columns={'None':'None', 'D0_percent':'D0_percent', 'D1_percent':'D1_percent', 'D2_percent':'D2_percent', 'D3_percent':'D3_percent', 'D4':'D4_percent', 'ValidStart':'start_date'})
drought3.head()

,None,D0_percent,D1_percent,D2_percent,D3_percent,D4_percent,start_date
0,56.17,19.79,24.04,0.82,0.0,0.0,4/4/23
1,55.34,18.50,26.16,1.95,0.0,0.0,3/28/23
2,48.51,24.10,27.39,8.49,0.0,0.0,3/21/23
3,44.66,27.41,27.93,8.49,0.0,0.0,3/14/23
4,26.84,49.10,24.06,19.00,0.0,0.0,3/7/23

In [24]:
drought3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1214 entries, 0 to 1213
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   None        1214 non-null   float64
 1   D0_percent  1214 non-null   float64
 2   D1_percent  1214 non-null   float64
 3   D2_percent  1214 non-null   float64
 4   D3_percent  1214 non-null   float64
 5   D4_percent  1214 non-null   float64
 6   start_date  1214 non-null   object
dtypes: float64(6), object(1)
memory usage: 66.5+ KB

In [25]:
# Convert date to datetime
# Use timedelta to select the date in the middle of the week
drought3['start_date'] = pd.to_datetime(drought3['start_date'])
drought3['date'] = drought3['start_date'] + timedelta(days=3)
drought3.head()

,None,D0_percent,D1_percent,D2_percent,D3_percent,D4_percent,start_date,date
0,56.17,19.79,24.04,0.82,0.0,0.0,2023-04-04,2023-04-07
1,55.34,18.50,26.16,1.95,0.0,0.0,2023-03-28,2023-03-31
2,48.51,24.10,27.39,8.49,0.0,0.0,2023-03-21,2023-03-24
3,44.66,27.41,27.93,8.49,0.0,0.0,2023-03-14,2023-03-17
4,26.84,49.10,24.06,19.00,0.0,0.0,2023-03-07,2023-03-10

In [26]:
# Pull month and year from date in format matching wildfire data
drought3['month_year'] = drought3['start_date'].dt.strftime('%Y-%m')
drought3.head()

,None,D0_percent,D1_percent,D2_percent,D3_percent,D4_percent,start_date,date,month_year
0,56.17,19.79,24.04,0.82,0.0,0.0,2023-04-04,2023-04-07,2023-04
1,55.34,18.50,26.16,1.95,0.0,0.0,2023-03-28,2023-03-31,2023-03
2,48.51,24.10,27.39,8.49,0.0,0.0,2023-03-21,2023-03-24,2023-03
3,44.66,27.41,27.93,8.49,0.0,0.0,2023-03-14,2023-03-17,2023-03
4,26.84,49.10,24.06,19.00,0.0,0.0,2023-03-07,2023-03-10,2023-03

In [27]:
# Group drought data by month_year and take the mean of each drought level percentage for the month
avg_drought = drought3.groupby(["month_year"]).mean()
avg_drought.head()

,None,D0_percent,D1_percent,D2_percent,D3_percent,D4_percent
month_year,,,,,,
2000-01,35.5175,64.4825,0.0000,0.0,0.0,0.0
2000-02,65.2620,34.7280,0.0100,0.0,0.0,0.0
2000-03,95.6850,4.3075,0.0075,0.0,0.0,0.0
2000-04,97.4925,2.5075,0.0000,0.0,0.0,0.0
2000-05,100.0000,0.0000,0.0000,0.0,0.0,0.0

In [28]:
# Merge drought and wildfire data on month_year
merge_data = pd.merge(avg_drought, wildfire6, on='month_year', how='left')
merge_data1 = pd.DataFrame(merge_data)
merge_data1.head()

,None,D0_percent,D1_percent,D2_percent,D3_percent,D4_percent,longitude,latitude,acres_burned,duration(days),fire_id
month_year,,,,,,,,,,,
2000-01,35.5175,64.4825,0.0000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2000-02,65.2620,34.7280,0.0100,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2000-03,95.6850,4.3075,0.0075,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2000-04,97.4925,2.5075,0.0000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2000-05,100.0000,0.0000,0.0000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [29]:
# Drop rows (months) without wildfire data
merge_data2 = merge_data1.drop(merge_data1.index[range(160)])
merge_data3 = merge_data2.drop(merge_data2.index[[-1,-2,-3,-4,-5,-6,-7]])
merge_data3.tail()

,None,D0_percent,D1_percent,D2_percent,D3_percent,D4_percent,longitude,latitude,acres_burned,duration(days),fire_id
month_year,,,,,,,,,,,
2022-05,0.0,44.9500,55.0500,44.8380,51.2780,4.6720,-114.484173,34.010838,5856.0,13.0,1326.0
2022-06,0.0,49.4700,50.5300,49.2600,48.2200,11.5900,-118.889446,34.936618,2500.0,5.0,1327.0
2022-07,0.0,50.3275,49.6725,50.1175,47.3575,12.4525,-119.614000,37.499000,4886.0,28.0,1328.0
2022-08,0.0,66.9960,33.0040,66.7620,30.7520,15.6720,-118.647900,34.525500,5208.0,6.0,1329.0
2022-09,0.0,70.9950,29.0050,70.7550,24.1575,16.5700,-480.303120,156.484380,87645.0,129.0,5326.0

In [30]:
# Keep drought percentages and total acres burned
merge_data4 = merge_data3[['None', 'D0_percent', 'D1_percent', 'D2_percent', 'D3_percent',
       'D4_percent', 'acres_burned']]

In [31]:
# Rename: average drought & total acres burned
merge_data5 = merge_data4.rename(columns={'None':'none_avg_pct', 'D0_percent':'D0_avg_pct', 'D1_percent':'D1_avg_pct',
                                          'D2_percent':'D2_avg_pct', 'D3_percent':'D3_avg_pct', 'D4_percent':'D4_avg_pct',
                                          'acres_burned': 'total_acres_burned'})
merge_data5.head()

,none_avg_pct,D0_avg_pct,D1_avg_pct,D2_avg_pct,D3_avg_pct,D4_avg_pct,total_acres_burned
month_year,,,,,,,
2013-05,0.000,48.090,51.910,46.250,0.00,0.0,51606.0
2013-06,0.000,68.530,31.470,66.715,0.00,0.0,1708.0
2013-07,0.000,95.206,4.794,93.436,0.00,0.0,72332.0
2013-08,0.000,87.110,12.890,85.340,8.52,0.0,335755.0
2013-09,1.315,82.155,16.530,80.030,11.36,0.0,11184.0

In [32]:
# Create unique ID for each month
merge_data5['drought_id'] = (range(1, len(merge_data5) + 1))
merge_data5['drought_id'] = merge_data5['drought_id'] + 100
merge_data5['month_year'] = merge_data5.index
merge_data5.index = merge_data5['drought_id']
merge_data5.head()

,none_avg_pct,D0_avg_pct,D1_avg_pct,D2_avg_pct,D3_avg_pct,D4_avg_pct,total_acres_burned,drought_id,month_year
drought_id,,,,,,,,,
101,0.000,48.090,51.910,46.250,0.00,0.0,51606.0,101,2013-05
102,0.000,68.530,31.470,66.715,0.00,0.0,1708.0,102,2013-06
103,0.000,95.206,4.794,93.436,0.00,0.0,72332.0,103,2013-07
104,0.000,87.110,12.890,85.340,8.52,0.0,335755.0,104,2013-08
105,1.315,82.155,16.530,80.030,11.36,0.0,11184.0,105,2013-09

In [33]:
# Drop extra ID column
merge_data6 = merge_data5.drop(['drought_id'], axis=1)
merge_data6.head()

,none_avg_pct,D0_avg_pct,D1_avg_pct,D2_avg_pct,D3_avg_pct,D4_avg_pct,total_acres_burned,month_year
drought_id,,,,,,,,
101,0.000,48.090,51.910,46.250,0.00,0.0,51606.0,2013-05
102,0.000,68.530,31.470,66.715,0.00,0.0,1708.0,2013-06
103,0.000,95.206,4.794,93.436,0.00,0.0,72332.0,2013-07
104,0.000,87.110,12.890,85.340,8.52,0.0,335755.0,2013-08
105,1.315,82.155,16.530,80.030,11.36,0.0,11184.0,2013-09

In [34]:
merge_data7 = merge_data6.fillna(0)
merge_data7.head(10)

,none_avg_pct,D0_avg_pct,D1_avg_pct,D2_avg_pct,D3_avg_pct,D4_avg_pct,total_acres_burned,month_year
drought_id,,,,,,,,
101,0.0000,48.0900,51.9100,46.2500,0.0000,0.0000,51606.0,2013-05
102,0.0000,68.5300,31.4700,66.7150,0.0000,0.0000,1708.0,2013-06
103,0.0000,95.2060,4.7940,93.4360,0.0000,0.0000,72332.0,2013-07
104,0.0000,87.1100,12.8900,85.3400,8.5200,0.0000,335755.0,2013-08
105,1.3150,82.1550,16.5300,80.0300,11.3600,0.0000,11184.0,2013-09
106,2.6240,74.1740,23.2020,72.7600,11.3600,0.0000,2236.0,2013-10
107,2.6125,66.1025,31.2850,64.2475,19.4750,0.0000,3505.0,2013-11
108,2.6100,59.5900,37.8000,56.4100,27.5900,0.0000,0.0,2013-12
109,1.4300,40.8450,57.7250,36.4725,52.8425,2.1925,1952.0,2014-01
110,0.7150,43.1775,56.1075,38.3475,52.4375,15.1125,0.0,2014-02

In [35]:
merge_data7.to_csv("Resources/ca_drought.csv", index=True)

### Create table linking keys in ca_wildfire and ca_drought

In [46]:
# Use wildfire5 and merge_data5 for the linking df
id_link = pd.merge(wildfire5, merge_data5, on='month_year')
id_link.head()

,incident_name,county,location,longitude,latitude,acres_burned,start_date,extinguished_date,duration(days),ID_x,month_year,none_avg_pct,D0_avg_pct,D1_avg_pct,D2_avg_pct,D3_avg_pct,D4_avg_pct,total_acres_burned,ID_y
0,Panther Fire,Tehama,"140K3 Line, 8 miles northwest of Butte Meadows",-121.595555,40.190062,6896.0,2013-05-01,2013-05-09,8,1001,2013-05,0.0,48.09,51.91,46.25,0.0,0.0,51606.0,101
1,Summit Fire,Riverside,Mias Canyon and Bluff Road in Banning,-116.941311,34.288877,2956.0,2013-05-01,2013-05-04,3,1002,2013-05,0.0,48.09,51.91,46.25,0.0,0.0,51606.0,101
2,Grand Fire,"Kern, Ventura","South of Frazier Mountain Park Rd, South of Fr...",-118.941100,34.786100,4346.0,2013-05-15,2013-05-21,6,1003,2013-05,0.0,48.09,51.91,46.25,0.0,0.0,51606.0,101
3,San Felipe Fire,San Diego,"San Felipe Road, north of Highway 78, East of ...",-116.525790,33.121110,2650.0,2013-05-23,2013-05-26,3,1004,2013-05,0.0,48.09,51.91,46.25,0.0,0.0,51606.0,101
4,General Fire,San Diego,"Banner Grade area, south of Hwy 78 & east of H...",-116.520900,33.044580,2500.0,2013-05-26,2013-05-31,5,1005,2013-05,0.0,48.09,51.91,46.25,0.0,0.0,51606.0,101

In [48]:
id_link1 = id_link[['ID_x', 'ID_y']]
id_link2 = id_link1.rename(columns={'ID_x': 'fire_id', 'ID_y': 'drought_id'})
id_link2.head()

   fire_id  drought_id
0     1001         101
1     1002         101
2     1003         101
3     1004         101
4     1005         101

In [58]:
id_link2.to_csv("Resources/ca_link.csv", index=False)